.basic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../img/turbin-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -92px;
  padding-top: 100px;
  background-color: $black;
  min-height: 750px;
  
  @media (max-width: $tablet-width) {
    align-items: flex-start;
    padding-top: 220px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 176px;
  }
  
}

.basic__wrap {
  max-width: 863px;

  & h1 {
    font-weight: bold;
    font-size: 57px;
    line-height: 151%;
    text-transform: uppercase;
    color: $light-grey;
    text-align: center;
    margin: 0;
    margin-bottom: 9px;
  
    & span {
      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      line-height: 151.5%;
      display: block;
      margin-bottom: 10px;
      position: relative;

      &::after,
      &::before {
        content: "";
        width: 230px;
        height: 1px;
        background-color: $light-grey;
        position: absolute;
        top: 49%;
        left: 26px;
        transform: translateY(-50%);
      }

      &::before {
        left: auto;
        right: 26px;
        top: 53%;
      }
    }
  }

  & p {
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: $light-grey;
    text-align: center;
    margin: 0;
    max-width: 649px;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    max-width: 100%;

    & h1 {
      font-size: 45px;
      margin-bottom: 18px;

      & span {
        font-size: 24px;
        margin-bottom: 16px;

        &::after,
        &::before {
          width: 193px;
          left: -27px;
          top: 43%;
        }

        &::before {
          left: auto;
          right: -27px;
        }
      }
    }
  }

  @media (max-width: $mobile-width) {
    & h1 {
      font-size: 23px;
      margin-bottom: 19px;

      & span {
        font-size: 12px;
        margin-bottom: 19px;

        &::after,
        &::before {
          width: 69px;
          left: 0;
          top: 43%;
        }

        &::before {
          left: auto;
          right: 0;
        }
      }
    }

    & p {
      font-size: 10px;
      padding: 0 15px;
    }
  }
}