.footer {
  background-color: $bg-color;
  padding: 54px 0;
}

.footer__wrap {
  max-width: 1200px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $white;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    justify-content: space-around;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }
}

.footer__nav {
  max-width: 564px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 7px;

  & a {
    position: relative;
    color: $white;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    overflow: hidden;


    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $orange;
      position: absolute;
      bottom: 0;
      left: 100%;
      transition: 0.5s;
    }

    &:hover,
    &:focus {
      &::after {
        left: 0;
      }
    }

    &:active {
      color: rgba($light-grey, 0.7);
    }
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    max-width: max-content;

    & a {
      font-size: 14px;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: $mobile-width) {
    margin-top: 40px;
    margin-bottom: 30px;

    & a {
      font-size: 18px;
      text-align: center;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 92px;

  & h2 {
    display: none;
  }

  & a {
    color: $white;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.4;
    }
  }

  & span {
    display: none;
  }

  @media (max-width: $tablet-width) {
    width: max-content;
    flex-direction: column;

    & h2 {
      display: inline;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 16px;
      line-height: 12px;
      font-family: "Montserrat", "Verdana", sans-serif;
    }

    & a {
      margin-top: 10px;
    }

    & svg {
      display: none;
    }

    & span {
      display: inline;
      text-decoration: underline;
    }
  }

  @media (max-width: $mobile-width) {
    width: 92px;
    flex-direction: row;
    & h2 {
      display: none;
    }

    & svg {
      display: inline;
    }

    & span {
      display: none;
    }
  }
}
