.succsess {
  max-width: 480px;
  width: 100%;
  min-height: 252px;
  background-color: $white;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../img/icon/efficiency.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
  box-shadow: 5px 5px 10px rgba($black, 0.4);

  & a {
    color: $white;
    background-color: $orange;
    padding: 5px 20px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
  }
}

.succsess-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 10px;
}
