$light-grey: #dddddd;
$border: #d9d9d9;
$input: #f0f2f2;
$black: #000000;
$white: #ffffff;
$orange: #f1520d;
$orange2: #f27039;
$block: #121213;
$bg-color: #101010;
$head: #3d3e40;
$text: #2c2c2c;
$red: red;
$inputHover: #ebebeb;

// Основные брекпоинты
$tablet-width: 1199px;
$mobile-width: 767px;
