$light-grey: #dddddd;
$black: #000000;
$white: #ffffff;
$orange: #f1520d;
$orange2: #F27039;
$block: #121213;
$bg-color: #101010;
$head: #3d3e40;
$text: #2c2c2c;
// Основные брекпоинты
$tablet-width: 1199px;
$mobile-width: 767px;
